# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
.eggs/

# Virtual environments
.venv/
env/
venv/
ENV/

# Hatch / Pip / Poetry caches
.hatch/
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage.xml
htmlcov/

# Sphinx docs
docs/_build/
site/

# VSCode / IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
